<div class="page-header">
    <h1 class="text-center">Référencement</h1>
</div>

<div class="container" ng-controller="refCtrl" ng-init="initData()">
	<div class="form-group">
		<input type="text" class="form-control" ng-model="recherche" placeholder="Recherche">
	</div>
	<div>
		<ul class="list-group" ng-repeat="data in datas | filter:recherche">
			<li class="list-group-item text-center">
				<label class=""><a ng-href="#/refs/{{data.id}}">{{data.id}}</a>
			</li>
		</ul>
	</div>
</div>